*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
    height: 500px;
    display: flex;
    /* flex-direction: column; */
    /* gap: 30px; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center
}

.box{
    border: 2px solid red;
    padding: 0 10px;
}

#box-1{
    /* order: 1; */
    flex-basis: 70%;
}
#box-2{
    flex-basis: 30%;
}