/* .head{
    text-align: center;
    background-color: red;
    color: white;
} */

/* *{
    text-align: center;
} */


/* h1,
h2,
h3 {
    text-align: center;
} */

/* 
.head{
    text-align: center;
} */

#hello{
    text-align: center;
    background-color: #0d5a7d;
    /* color: white; */
    color: #ffffff;
}


/* li > a{
    text-decoration: none;
    color: black;
} */

/* universal
specific element
class
id sabsa zyada specific ha */

/* #para{
    text-align: end;
} */

/* .para-class{
    text-align: center;
}

p{
    text-align: start;
}

*{
    text-align: center;
} */




/* p{
    text-align: center;
}
p{
    text-align: start;
} */







/* .para-class{
    text-align: center;
}

p{
    text-align: end;
} */



/* body{
    color: red;
} */










